<html>
  <head>
    <title></title>
  </head>
  <body>
    <div id="app">
      <div>
        <select v-model="color">
          <option disabled value="">צבע האזור</option>
          <option value="green">{{HEBREW_COLORS.green}}</option>
          <option value="yellow">{{HEBREW_COLORS.yellow}}</option>
          <option value="orange">{{HEBREW_COLORS.orange}}</option>
          <option value="red">{{HEBREW_COLORS.red}}</option>
        </select>
      </div>

      <div>
        גודל המבנה
        <input type="number" v-model="structure_size" />
      </div>
      <div>
        מספר כניסות ראשיות
        <input type="number" v-model="num_primary_enternces" />
      </div>
      <div>
        מספר כניסות משניות
        <input type="number" v-model="num_secondary_enternces" />
      </div>

      <!-- <div>
        <button @click="getResult">חשב</button>
      </div> -->
      <div>
        <h2>{{result}} מתפללים</h2>
        <h2>{{num_groups}} קפסולות</h2>
      </div>
    </div>
    <!-- production version, optimized for size and speed -->
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="script.js"></script>
  </body>
</html>
